.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.followers-list {
  border: 2px solid red;
}

.paginate {
  border: 2px solid blue;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.followers-container {
  border: 2px solid yellow;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.follower {
  margin: 50px;
  border: 2px solid grey;
  padding: 2px;
}
